<a href="<%- url_for(post.path) %>" title="Read article titled: <%= post.title %>" class="article-teaser article-teaser--<%= post.layout %>">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article-teaser__content" itemscope itemprop="blogPost">
        <% if (post.link || post.title){ %>
        <header class="article-teaser__header">
            <h2 itemprop="name" class="article-teaser__title">
                <%= post.title %>
            </h2>
        </header>
        <% } %>

        <section class="article-teaser__inner">
            <%- partial('post/date', {class_name: 'article-teaser__date', date_format: config.date_format}) %>
            <%- partial('post/category-no-link', {class_name: 'article-teaser__category'}) %>
        </section>
    </article>
</a>