<% if (post.prev || post.next){ %>
<nav class="article-nav">
  <% if (post.next){ %>
  <a href="<%- url_for(post.next.path) %>" class="article-nav__link older">
    <strong class="article-nav__label"><%= __('older') %></strong>
    <h3 class="article-nav__title"><%= post.next.title %></h3>
  </a>
  <% } %>
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" class="article-nav__link newer">
      <strong class="article-nav__label"><%= __('newer') %></strong>
      <h3 class="article-nav__title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </h3>
    </a>
  <% } %>
</nav>
<% } %>